# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [19]:
num1 = 5
num2 = 5
print(id(num1))
print(id(num2))
print(id(num1) == id(num2))
print(num1 == num2)
print(num1 is num2)

num3 = 300
num4 = 300
print(id(num3), id(num4))
print(id(num3) == id(num4))
print(num3 == num4)
print(num3 is num4)

10750984
10750984
True
True
True
139362637388784 139362637396720
False
True
False

Якщо числа в діапазоні -5 до 256, то змінні посилаються на один і той самий об'єкт у пам'яті. Якщо ж значення виходять за межі цього діапазону, Python створює окремі об'єкти.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [20]:
print(isinstance(True, bool))
print(isinstance(True, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [21]:
num1 = 6
num2 = 2.9
print(num1 + num2)
print(num1 - num2)
print(num2 - num1)
print(num1 / num2)
print(num1 * num2)
print(num1 // num2) #division without residue
print(num1 % num2) #modulo division
print(num1 ** num2)

8.9
3.1
-3.1
2.0689655172413794
17.4
2.0
0.20000000000000018
180.56710124883435

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [22]:
num2_to_int = int(num2)
print(num2_to_int)

bool1 = True
bool1_to_int = int(bool1)
print(bool1_to_int)

2
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [23]:
str1 = ""
str2 = str()

print(len(str1) == 0)
print(len(str2) == 0)

True
True

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [24]:
str3 = "I'm \t kitty"
raw_str3 = r"I'm \t kitty"

print(str3)
print(raw_str3)

I'm 	 kitty
I'm \t kitty

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [25]:
my_surname = "Tuhai"
formatted_str = f"My surname is {my_surname}"

print(my_surname)
print(formatted_str)

Tuhai
My surname is Tuhai

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [26]:
str_to_split = "My dog is crazy."
splitted_str = str_to_split[:-1].lower().split()

print(splitted_str)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [27]:
list1 = [1, 2, 3, 4, 5]
list2 = list((6, 7, 8, 9, 10))
list3 = [x ** 2 for x in range(1, 6)]
list4 = "meow meow meow".split()

print(list1)
print(list2)
print(list3)
print(list4)

list1_length = len(list1)
print(list1_length)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 4, 9, 16, 25]
['meow', 'meow', 'meow']
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [28]:
list5 = [1, 2, 3]
list6 = [4, 5, 6]

list5.append(list6)
print(list5)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [29]:
list6 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list7 = list6[-1][0]

print(list7)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [30]:
my_list = [42, "string", 3.14, True, None, [1, 2], (3, 4), {1, 2}, {'key': 'value'}, complex(1, 2)]
print(my_list)

new_list = my_list[2:-2]
print(new_list)

[42, 'string', 3.14, True, None, [1, 2], (3, 4), {1, 2}, {'key': 'value'}, (1+2j)]
[3.14, True, None, [1, 2], (3, 4), {1, 2}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [31]:
tuple1 = (2,)
isinstance(tuple1, tuple)

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

**Відмінності**:
1. Список змінний (тобто можна додавати,змінювати, видаляти елементи), а кортеж незмінний.
2. Різний синтаксис:

  *   list declaration - []
  *   tuple declaration - (,)
3. Список повільніший через те, що mutable.
4. Список може містити значення різних типів. Кортеж варто використовувати для одного типу даних.

**Схожості**:
1. Підтримують ітерування.
2. Можуть містити дубльовані значення.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [32]:
tuple2 = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.1, 11.2)
print(len(tuple2))

res_tuple = tuple2[-2::-2]
print(res_tuple)

11
(10.1, 8.8, 6.6, 4.4, 2.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [33]:
set1 = set()

set1.add(10)
set1.add("meow")
set1.add(6.29)
print(set1)

set1.remove(10)
print(set1)

{10, 'meow', 6.29}
{'meow', 6.29}

Set - змінний тип даних, бо ми можемо додавати та видаляти елементи.
Але самі елементи множини повинні бути незмінними (списки не можна додавати, бо вони змінні).

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [34]:
my_list = [1, 1, 2, 67, 67, 8, 9]
print(my_list)

my_set = set(my_list)
print(my_set)

[1, 1, 2, 67, 67, 8, 9]
{1, 2, 67, 8, 9}

Спочатку ми створюємо список, що може містити повторювальні елементи. Але потім ми перетворюємо цей list на set, а у множині не зберігаються повторювальні значення, тож дублікати видаляються і залишаються тільки унікальні значення.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [35]:
set3 = {"meow", 29, 2.2, 4}
set4 = {"hello", 7, "meow", 2.2, 29, 11}

print(set3.union(set4))
print(set3.intersection(set4))
print(set3.difference(set4))
print(set4.difference(set3))
print(set3.symmetric_difference(set4))

{2.2, 4, 7, 11, 'hello', 'meow', 29}
{2.2, 'meow', 29}
{4}
{'hello', 11, 7}
{'hello', 4, 7, 11}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [36]:
dict1 = dict()
dict1[6] = "meow"
dict1["hello"] = 5
dict1[2.999] = [2.2, 46, "qwerty"]
dict1[(1, 6, 9)] = True
print(dict1)

# try to make the list a dictionary key (get an error)
# dict1[[1, 2, 3]] = "error"
# print(dict1)

{6: 'meow', 'hello': 5, 2.999: [2.2, 46, 'qwerty'], (1, 6, 9): True}

Ключами у словнику можуть бути тільки незмінні типи даних, а list - змінний тип, отже він не може бути ключем.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [37]:
nested_dict = { "root": { "level1": { "level2": { "level3": { "final": 29}}}}}
print(nested_dict["root"]["level1"]["level2"]["level3"]["final"])

29

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.